<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<phpunit
	backupGlobals="false"
	backupStaticAttributes="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnFailure="false"
	syntaxCheck="false" bootstrap="vendor/autoload.php">
   <testsuites>
      <testsuite name="Debugger">
         <directory>test/Debugger</directory>
      </testsuite>	
   </testsuites>
</phpunit>
